In [1]:
# https://www.youtube.com/watch?v=x7SwgcpACng&list=PLB5jA40tNf3tRMbTpBA0N7lfDZNLZAa9G&index=1

import mysql.connector

In [2]:
connection = mysql.connector.connect(
   host="localhost",
   port="3308",
   user="root",
   passwd="root"
)

In [3]:
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002020524F198>

In [4]:
#initialise cursor
cursor = connection.cursor()

# create a database

In [5]:

# create test_alexi_db database
db_name = "test_alexi_db"
cursor.execute("CREATE DATABASE IF NOT EXISTS " + db_name)

# show all databases
cursor.execute("SHOW DATABASES")

for db in cursor:
    print(db)
    

# terminate connection and cursor
cursor.close()
connection.close()

('dbname',)
('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test_alexi_db',)

# create a table in the database

In [6]:
# reconnect now using the newly created database
connection2 = mysql.connector.connect(
   host="localhost",
   port="3308",
   database= db_name,
   user="root",
   passwd="root"
)

# re-initialise cursor
cursor2 = connection2.cursor()

In [7]:
cursor2.execute("CREATE TABLE IF NOT EXISTS students (name VARCHAR(255) UNIQUE, age INTEGER(10) UNIQUE)")

# show all tables
cursor2.execute("SHOW TABLES")
for tb in cursor2:
    print(tb)

('students',)

# populate the database with python

In [8]:
sql_string = "INSERT IGNORE INTO students (name, age) VALUES (%s, %s)" 
student1 = ("Rachel", "22")

In [9]:
cursor2.execute(sql_string, student1)
connection2.commit()

In [10]:
# assuming arrays of students are not be entered into the database
student_array = [
    ("Sogo", "38"),
    ("Mike", "41"),
    ("Olu", "16"),
    ("Kanu", "33"),
    ("Kai", "41"),
    ("Dada", "20"),
    ("Muku", "18"),
    ("Isa", "29"),
    ("Jerome", "31")
]

cursor2.executemany(sql_string, student_array)
connection2.commit()

# select and read data from the database

In [11]:
cursor2.execute("SELECT * FROM students")
result = cursor2.fetchall()

for record in result:
    print(record)

('Rachel', 22)
('Sogo', 38)
('Mike', 41)
('Olu', 16)
('Kanu', 33)
('Dada', 20)
('Muku', 18)
('Isa', 29)
('Jerome', 31)

In [12]:
# query a specific column
cursor2.execute("SELECT age FROM students")
result = cursor2.fetchall()

for record in result:
    print(record)

(16,)
(18,)
(20,)
(22,)
(29,)
(31,)
(33,)
(38,)
(41,)

In [13]:
# query a specific column
cursor2.execute("SELECT name FROM students")
result = cursor2.fetchall()

for record in result:
    print(record)

('Dada',)
('Isa',)
('Jerome',)
('Kanu',)
('Mike',)
('Muku',)
('Olu',)
('Rachel',)
('Sogo',)

In [15]:
# fetch only one item from the result
cursor2.execute("SELECT name FROM students")
result = cursor2.fetchone()

for record in result:
    print(record)

Dada